TIPOS-VARIAVEIS/.vscode/settings.json
OPERADORES/.vscode/settings.json
METODOS/.vscode/settings.json
ESCOPO/.vscode/settings.json
JAVA-DOC/.vscode/settings.json
DESAFIOS/ContaBanco/.vscode/settings.json
ESTRUTURAS-CONDICIONAIS/.vscode/settings.json
ESTRUTURAS-DE-REPETICAO/.vscode/settings.json
